<form class="form-inline" action="/search" method="GET">
    <div class="container" class="justify-content-center">
    <div class="row height d-flex justify-content-center align-items-center">
          <table>
              <td><input type="/search" class="form-control" placeholder="name" aria-label="Search" 
name="query" method = "GET" class="form-control form-control-lg"> </td>
              <td><button class="btn btn-primary col-md-12  " type="submit" >Search</button> </td>
          </table>
    </div>
    </div>
</form>